* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
margin-bottom: 20px;
}
body {
    font-family: Arial, sans-serif;
}

nav {
    min-height: 6vh;
    display: grid;
    place-items: center;
}

header {
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 60vw;
}

.column {
    flex: 1;
}

.nav-links-block {
    display: flex !important;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

.logo {
    color: black;
    font-size: 1.5rem;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.container {
    padding: 70px;
    font-size: large;
}
.about {
    text-align: center;
}
.products {
    background-color: #cbf3f0;
    text-align: center;
}
button {
    background-color: #ff6a00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hero {
    background-image: url('./assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 800px;
}

.big-text {
    font-size: 180px; 
    text-align: left;
}

.hero-content{
    color: white;
}

.secundary-text{
    width: 50%;
    padding-bottom: 50px;
}

.button1 {
    background-color: #cbf3f0 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.item {
    padding: 20px;
    border-radius: 5px;
}
.img img {
    max-width: 400px;
    height: auto;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    max-width: 200px;
    height: auto;
}

.grid-item p {
    margin: 10px 0;
    font-size: 16px;
}

.more {
    background-image: url('./assets/bg-grid.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 800px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: orange;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .nav-links-block {
        display: block !important;
    }

    .nav-links li {
        margin-top: 50px;
    }

    .burger-menu {
        display: block;
    }

    .img img {
        max-width: 30vw;
        height: auto;
    }

    .grid-item img {
        max-width: 100px;
        height: auto;
    }
    
    .grid-item p {
        margin: 10px 0;
        font-size: 16px;
    }

    .big-text {
        font-size: 100px; 
        text-align: left;
    }
}