* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
	
nav {
    min-height: 6vh;
    display: grid;
    place-items: center;
}

header {
    background: #333;
    padding: 10px 20px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 60vw;
}

.column {
    flex: 1;

}

.nav-links-block {
    display: flex !important;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.logo {
    color: white;
    font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #333;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .nav-links-block {
        display: block !important;
    }

    .nav-links li {
        margin-top: 50px;
    }

    .burger-menu {
        display: block;
    }
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}